<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>All Mine Flexoki</string>
	<key>ThemeIdentifier</key>
	<string>nnwthemes.allmine.flexoki</string>
	<key>CreatorHomePage</key>
	<string>https://sleeplessindebugging.com/</string>
	<key>CreatorName</key>
	<string>Chenghao Mou</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
